<?xml version="1.0"?>
<launch>
    <!-- Visualizer and simulator -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roomba)/data/rviz/explore.rviz"/>
    <include file="$(find roomba)/launch/simulator.launch"/>

    <!-- move_base -->
    <include file="$(find roomba)/launch/move_base.launch"/>

    <!-- SLAM gmapping -->
    <node name="slam" pkg="gmapping" type="slam_gmapping" args="scan:=base_scan">
        <!-- Publish period =1 silences timing errors -->
        <param name="transform_publish_period" value="1"/>
    </node>

    <!-- Our node :) -->
    <node name="explore" pkg="roomba" type="explore.py"/>
</launch>
